# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
dist/
build/
*.egg-info/
.eggs/

# Environment
.env

# Coverage
.coverage
htmlcov/
.pytest_cache/

# Pyright
pyrightconfig.json

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/settings.json
.idea/

artifacts
